# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Python packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
.Python
pip-wheel-metadata/
share/python-wheels/

# =========================
# Environment variables (SECRETS)
# =========================
.env
.env.*
*.env
backend/backend/.env

# =========================
# Django / Flask
# =========================
*.log
db.sqlite3
db.sqlite3-journal
instance/
media/
staticfiles/

# =========================
# Testing / Coverage
# =========================
htmlcov/
.coverage
coverage.xml
.pytest_cache/
.tox/
.nox/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Node / Frontend (if used)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Security / Production
# =========================
*.pem
*.key
*.crt
*.sql
*.dump

# =========================
# Misc
# =========================
.cache/
.mypy_cache/
.pyre/
